@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --customYellow: #F1C400;
  --customBrown: #787878;
}

html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;

}

.rec-arrow-left, .rec-arrow-right{
  background-color: transparent !important;
  border:none !important;
  border-radius: 0px !important;
  box-shadow: none !important;

}
.rec-carousel{
  position: relative !important;

}

.rec-arrow-left{
  position: absolute !important;
  display: none !important;

  left: 35% !important;
  top: 70% !important;
  z-index: 1 !important;
}
.rec-arrow-right{
  position: absolute !important;
  display: none !important;
  right: 35% !important;
  top: 70% !important;
  z-index: 1 !important;
}

.rec-pagination{
  position: relative !important;
  bottom: 3rem !important;
  margin: 0 !important;
}
.rec-dot{
  width:2rem !important;
  height:0.4rem !important;
  border-radius: 0.2rem !important;
  box-shadow: none !important;
  background-color:var(--customBrown) !important;
}
.rec-dot:hover{
  box-shadow: none !important;
}

.rec-dot_active{
  background-color:var(--customYellow) !important;
  box-shadow: none !important;
  width:3.5rem !important;
}
.rec-slider-container{
  margin:0 !important;
}
.custom-bg-1{
  background-color:red;
}
.custom-bg-2{
  background-color:blue;
}
.custom-bg-3{
  background-color:green;
}
.custom-bg-4{
  background-color:yellow;
}
.custom-bg-5{
  background-color:purple;
}