@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --customYellow: #F1C400;
  --customBrown: #787878;
}

html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;

}


/* HOME PAGE PRODUCTS CAROUSEL CSS */
.home_page_products_carousel .rec-arrow-left, .home_page_products_carousel .rec-arrow-right{
  background-color: transparent !important;
  border:none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  display: none !important;
}

.home_page_products_carousel  .rec-pagination{
  margin: 0 !important;
  position: relative !important;
  top: 1rem !important;
}
.home_page_products_carousel  .rec-dot{
  width:2rem !important;
  height:0.4rem !important;
  border-radius: 0.2rem !important;
  box-shadow: none !important;
  background-color:var(--customBrown) !important;
}
@media screen and (min-width:320px) and (max-width:640px){
  .home_page_products_carousel  .rec-dot{
    width:0.5rem !important;
    height:0.3rem !important;
  }
}
@media screen and (min-width:320px) and (max-width:640px){
  .home_page_products_carousel  .rec-dot_active{
    width:1.5rem !important;
    height:0.3rem !important;
    background-color:var(--customYellow) !important;
    box-shadow: none !important;
  }

}

@media screen and (min-width:641px) and (max-width:2600px){
  .home_page_products_carousel  .rec-dot_active{
    background-color:var(--customYellow) !important;
    box-shadow: none !important;
    width:3.5rem !important;
  }
  
}

.home_page_products_carousel  .rec-dot:hover{
  box-shadow: none !important;
}



/*HOME PAGE  OFFERS CAROUSEL CSS */
.offers-carousel  .rec-arrow-left, .rec-arrow-right{
  background-color: transparent !important;
  border:none !important;
  border-radius: 0px !important;
  box-shadow: none !important;

}
.offers-carousel  .rec-carousel{
  position: relative !important;

}

.offers-carousel  .rec-arrow-left{
  position: absolute !important;
  display: none !important;

  left: 35% !important;
  top: 70% !important;
  z-index: 1 !important;
}
.offers-carousel  .rec-arrow-right{
  position: absolute !important;
  display: none !important;
  right: 35% !important;
  top: 70% !important;
  z-index: 1 !important;
}

.offers-carousel  .rec-pagination{
  position: relative !important;
  bottom: 3rem !important;
  margin: 0 !important;
}
.offers-carousel  .rec-dot{
  width:2rem !important;
  height:0.4rem !important;
  border-radius: 0.2rem !important;
  box-shadow: none !important;
  background-color:var(--customBrown) !important;
}
.offers-carousel  .rec-dot:hover{
  box-shadow: none !important;
}

.offers-carousel  .rec-dot_active{
  background-color:var(--customYellow) !important;
  box-shadow: none !important;
  width:3.5rem !important;
}

@media screen and (min-width:320px) and (max-width:640px){
  .offers-carousel  .rec-dot_active{
    width:1.5rem !important;
    height:0.3rem !important;
    background-color:var(--customYellow) !important;
    box-shadow: none !important;
  }
}

@media screen and (min-width:641px) and (max-width:2600px){
  .offers-carousel  .rec-dot_active{
    width:3.5rem !important;
    background-color:var(--customYellow) !important;
    box-shadow: none !important;
    width:3.5rem !important;
  }
}
.offers-carousel .rec-slider-container{
  margin:0 !important;
}




/* HOME PAHE COMPANY BASED SJOP CAROUSEL CSS */
.company_shop_carousel .rec-arrow-left, .company_shop_carousel .rec-arrow-right{
  background-color: transparent !important;
  border:none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  display: none !important;
}
.company_shop_carousel .rec-pagination{
  display: none !important;
}

@media screen and (min-width:768px) and (max-width:2600px) {
  .company_shop_carousel .rec-item-wrapper{
    min-height: 600px !important;
  }
  
}

@media screen and (min-width:320px) and (max-width:767px) {
  .company_shop_carousel .rec-item-wrapper{
    min-height: 500px !important;
  }
  .company_shop_carousel .rec-slider-container{
    height: 500px !important;
  }
}